<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.zucc.wmhxa.kuaishou">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kuaishou"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kuaishou"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- home -->
        <activity android:name=".activity.home.HomeActivity"></activity>

        <!-- order -->
        <activity android:name=".activity.order.issue.ThingsAddActivity"></activity>
        <activity android:name=".activity.order.accept.AcceptOrderActivity"></activity>
        <activity android:name=".activity.order.evaluate.EvaluateActivity"></activity>
        <activity android:name=".activity.order.MyOrderActivity"></activity>
        <activity android:name=".activity.order.HistoryEvalActivity"></activity>
        <activity android:name=".activity.order.SeeOrderActivity"></activity>


        <!-- login -->
        <activity android:name=".activity.login.LoginActivity"></activity>
        <activity android:name=".activity.login.RegisterActivity"></activity>

        <!-- setting -->
        <activity android:name=".activity.setting.WalletActivity"></activity>
        <activity android:name=".activity.setting.address.AddressAddActivity"></activity>
        <activity android:name=".activity.setting.address.AddressChooseAcrtivity"></activity>
        <activity android:name=".activity.setting.address.AddressEditActivity"></activity>
        <activity android:name=".activity.setting.address.AddressManageActivity"></activity>

        <!-- 百度地图key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="bng1bmUtFQEsjdRGLTTUkHQYe1R4ElMP" />

    </application>

</manifest>